<div id="change-password">
	<div class="header">
		Change Password
	</div>
	<md-content md-theme="forms-dark">
		<form class="change-form" name="ctrl.changeForm"
			  loader="{{::ctrl.loaderName}}"
			  ng-submit="ctrl.changeForm.$valid && ctrl.changePassword()"
			  novalidate>
			<div class="error-field">
				{{ctrl.errorMessage}}
			</div>
			<div class="password-input">
				<md-input-container>
					<label>Old Password</label>
					<input type="text"
						   name="oldPassword"
						   ng-model="ctrl.model.oldPassword"
						   ng-required="true"/>
					<div ng-messages="ctrl.changeForm.oldPassword.$error">
						<div ng-message="required">This is required!</div>
					</div>
				</md-input-container>
				</md-input-container>
			</div>
			<div class="password-input">
				<md-input-container>
					<label>New Password</label>
					<input type="text"
						   name="newPassword"
						   ng-required="true"
						   ng-model="ctrl.model.newPassword"
						   different-from="{{ctrl.model.oldPassword}}"/>
					<div ng-messages="ctrl.changeForm.newPassword.$error"> <!--multiple, md-auto-hide="true/false"-->
						<div ng-message="required">This is required!</div>
						<div ng-message="differentFrom">New password needs to be different then the old one.</div>
					</div>
				</md-input-container>
			</div>
			<div class="password-input">
				<md-input-container>
					<label>Repeat New Password</label>
					<input type="text"
						   name="repeatedPassword"
						   ng-model="ctrl.model.repeatedPassword"
						   ng-required="true"
						   same-as="{{ctrl.model.newPassword}}"/>
					<div ng-messages="ctrl.changeForm.repeatedPassword.$error">
						<div ng-message="sameAs">Passwords need to match.</div>
					</div>
				</md-input-container>
			</div>
			<div class="buttons">
				<button type="submit" class="mb mb-fill-green">
					Update Password
				</button>
			</div>
		</form>
	</md-content>
</div>