<div id="change-password">
	<div class="header">
		{{"ACCOUNT.PASSWORD.HEADER-1" | translate}}
	</div>
	<md-content md-theme="forms-dark">
		<form class="change-form" name="ctrl.changeForm"
			  loader="{{::ctrl.loaderName}}"
			  ng-submit="ctrl.changeForm.$valid && ctrl.changePassword()"
			  novalidate>
			<div class="error-field">
				{{ctrl.errorMessage}}
			</div>
			<div class="password-input">
				<md-input-container>
					<label>{{"ACCOUNT.PASSWORD.OLD-PASSWORD" | translate}}</label>
					<input type="password"
						   name="oldPassword"
						   ng-model="ctrl.model.oldPassword"
						   ng-required="true"/>
					<div ng-messages="ctrl.changeForm.oldPassword.$error">
						<div ng-message="required">{{"DEFAULT-VALIDATOR-MESSAGES.REQUIRED" | translate}}</div>
					</div>
				</md-input-container>
			</div>
			<div class="password-input">
				<md-input-container>
					<label>{{"ACCOUNT.PASSWORD.NEW-PASSWORD" | translate}}</label>
					<input type="password"
						   name="newPassword"
						   ng-required="true"
						   ng-model="ctrl.model.newPassword"
						   different-from="{{ctrl.model.oldPassword}}"/>
					<div ng-messages="ctrl.changeForm.newPassword.$error"> <!--multiple, md-auto-hide="true/false"-->
						<div ng-message="required">{{"DEFAULT-VALIDATOR-MESSAGES.REQUIRED" | translate}}</div>
						<div ng-message="differentFrom">{{"ACCOUNT.PASSWORD.VALIDATORS.DIFFERENT-FROM" | translate}}</div>
					</div>
				</md-input-container>
			</div>
			<div class="password-input">
				<md-input-container>
					<label>{{"ACCOUNT.PASSWORD.NEW-PASSWORD-REPEAT" | translate}}</label>
					<input type="password"
						   name="repeatedPassword"
						   ng-model="ctrl.model.repeatedPassword"
						   ng-required="true"
						   same-as="{{ctrl.model.newPassword}}"/>
					<div ng-messages="ctrl.changeForm.repeatedPassword.$error">
						<div ng-message="required">{{"DEFAULT-VALIDATOR-MESSAGES.REQUIRED" | translate}}</div>
						<div ng-message="sameAs">{{"ACCOUNT.PASSWORD.VALIDATORS.SAME-AS" | translate}}</div>
					</div>
				</md-input-container>
			</div>
			<div class="buttons">
				<button type="submit" class="mb mb-fill-green">
					{{"ACCOUNT.PASSWORD.UPDATE-PASSWORD" | translate}}
				</button>
			</div>
		</form>
	</md-content>
</div>