<div id="my-nav-bar">
    <div class="my-nav-bar-column">
        <div class="my-nav-bar-column-item">
            <div class="my-nav-bar-pill">
                <div class="my-nav-bar-column-item-icon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="my-nav-bar-column-item-name">
                    Tryton
                </div>
            </div>
        </div>
        <div class="my-nav-bar-column-item">
            <div class="my-nav-bar-pill">
                <div class="my-nav-bar-column-item-icon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="my-nav-bar-column-item-name">
                    Dashboard
                </div>
            </div>
        </div>
        <div class="my-nav-bar-column-item">
            <div class="my-nav-bar-pill">
                <div class="my-nav-bar-column-item-icon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="my-nav-bar-column-item-name">
                    Learn More
                </div>
            </div>
        </div>
    </div>
    <div class="my-nav-bar-column">
        <div class="my-nav-bar-column-item short">
            <div class="my-nav-bar-pill">
                <div class="my-nav-bar-column-item-icon">
                    <span class="flag-icon flag-icon-pl"></span>
                </div>
                <div class="my-nav-bar-column-item-name">
                    LoL
                </div>
            </div>
            <div class="my-nav-bar-column-item-content">
                dupa
            </div>
        </div>
        <div class="my-nav-bar-column-item short">
            <div class="my-nav-bar-pill">
                <div class="my-nav-bar-column-item-icon">
                    <span class="flag-icon flag-icon-pl"></span>
                </div>
                <div class="my-nav-bar-column-item-name">
                    PL
                </div>
            </div>
            <div class="my-nav-bar-column-item-content">
                <div class="items">
                    <div class="item selected">
                        <div class="icon">
                            <div class="flag-icon flag-icon-de"></div>
                        </div>
                        <div class="name">
                            Deutch
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <div class="flag-icon flag-icon-de"></div>
                        </div>
                        <div class="name">
                            Deutch
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <div class="flag-icon flag-icon-de"></div>
                        </div>
                        <div class="name">
                            Deutch
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <div class="flag-icon flag-icon-de"></div>
                        </div>
                        <div class="name">
                            Deutch
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-nav-bar-column-item" ng-click="openLoginModal()">
            <div class="my-nav-bar-pill">
                <div class="my-nav-bar-column-item-icon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="my-nav-bar-column-item-name">
                    Login
                </div>
            </div>
        </div>
        <div class="my-nav-bar-column-item" ng-click="openRegisterModal()">
            <div class="my-nav-bar-pill">
                <div class="my-nav-bar-column-item-icon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="my-nav-bar-column-item-name">
                    Register
                </div>
            </div>
        </div>
    </div>
</div>
