<div id="connected-lol-component" loader="connectedLolAccount">
	<div class="main-description">
		<div>{{"_GAMES.ACCOUNT.CONNECTED.HEADER-1" | translate}}</div>
	</div>
	<div class="summoner-info">
		<div class="info-line">
			<div class="info-key">
				{{"_GAMES.ACCOUNT.CONNECTED.SUMMONER-NAME" | translate}}
			</div>
			<div class="info-value">
				{{ctrl.getLolAccount().details.summonerName}}
			</div>
		</div>
		<div class="info-line">
			<div class="info-key">
				{{"_GAMES.ACCOUNT.CONNECTED.REGION" | translate}}
			</div>
			<div class="info-value">
				{{ctrl.getLolAccount().details.region}}
			</div>
		</div>
		<div class="info-line">
			<div class="info-key">
				{{"_GAMES.ACCOUNT.CONNECTED.CONNECT-DATE" | translate}}
			</div>
			<div class="info-value">
				{{ctrl.getLolAccount().createdDate | date}}
			</div>
		</div>
		<div class="info-line">
			<div class="info-key">
				{{"_GAMES.ACCOUNT.CONNECTED.STATUS.LABEL" | translate}}
			</div>
			<div class="info-value">
				<div class="status verified" ng-show="ctrl.getLolAccount().verified">
					<div class="status-icon">
						<i class="material-icons">check</i>
					</div>
					<div class="status-text">
						{{"_GAMES.ACCOUNT.CONNECTED.STATUS.VERIFIED" | translate}}
					</div>
				</div>
				<div class="status not-verified" ng-show="!ctrl.getLolAccount().verified">
					<div class="status-icon">
						<i class="material-icons">cancel</i>
					</div>
					<div class="status-text">
						{{"_GAMES.ACCOUNT.CONNECTED.STATUS.NOT-VERIFIED" | translate}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="verify-mastery-page-area" ng-if="!ctrl.getLolAccount().verified">
		<div class="description-up">
			<div>{{"_GAMES.ACCOUNT.CONNECTED.INFO-1" | translate}}</div>
			<div>{{"_GAMES.ACCOUNT.CONNECTED.INFO-2" | translate}}</div>
		</div>
		<div class="code-area">
			<div class="code-description">
				{{"_GAMES.ACCOUNT.CONNECTED.YOUR-CODE" | translate}}
			</div>
			<div class="code-value">
				{{ctrl.getMasteryPageName()}}
			</div>
			<button class="copy-button mb mb-fill-blue"
					ngclipboard data-clipboard-text="{{ctrl.getMasteryPageName()}}">
				{{"_GAMES.ACCOUNT.CONNECTED.COPY" | translate}}
			</button>
		</div>
		<div class="description-down">
			<div>{{"_GAMES.ACCOUNT.CONNECTED.INFO-3" | translate}}</div>
			<div>{{"_GAMES.ACCOUNT.CONNECTED.INFO-4" | translate}}</div>
		</div>
	</div>
	<div class="error-field">
		{{ctrl.errorMessage}}
	</div>
	<div class="buttons">
		<button class="mb mb-fill-red" ng-click="ctrl.disconnectLolAccountApi()"
				confirm confirm-title="{{'_GAMES.ACCOUNT.CONNECTED.DISCONNECT-CONFIRM.TITLE' | translate}}"
				confirm-desc="{{'_GAMES.ACCOUNT.CONNECTED.DISCONNECT-CONFIRM.DESC' | translate}}">
			{{"_GAMES.ACCOUNT.CONNECTED.DISCONNECT" | translate}}
		</button>
		<button class="mb mb-fill-blue" ng-click="ctrl.verifyLolAccountApi()"
				ng-show="!ctrl.getLolAccount().verified"
				ng-if="!ctrl.getLolAccount().verified">
			{{"_GAMES.ACCOUNT.CONNECTED.VERIFY" | translate}}
		</button>
	</div>

</div>