<div id="user-nav-bar">
    <div id="user-nav-bar-left">
        <div id="user-nav-bar-languages-panel">
            <div class="glyphicon glyphicon-globe"></div>
            <select id="user-nav-bar-languages" ng-model="selectedLanguage" ng-options="language.shortName as language.name for language in LanguageList.getAll()| filter:{isAvailable: true} | orderBy:'name'">
            </select>
        </div>
    </div>
    <div id="user-nav-bar-right">
        <div ng-show="Session.isLogged()">
            <span class="glyphicon glyphicon-user"></span>
            <a>{{ Session.getUser().username}}</a>
        </div>
        <div ng-click="logout()" ng-show="Session.isLogged()">
            <span class="glyphicon glyphicon-log-out"></span>
            <a>{{ "LOGOUT" | translate}}</a>
        </div>
        <div ng-click="openLoginModal()" ng-hide="Session.isLogged()">
            <span class="glyphicon glyphicon-log-in"></span>
            <a>{{ "USER-NAV-BAR.LOGIN" | translate}}</a>
        </div>
        <div ng-click="openRegisterModal()" ng-hide="Session.isLogged()">
            <span class="glyphicon glyphicon-lock"></span>
            <a>{{ "USER-NAV-BAR.REGISTER" | translate}}</a>
        </div>
    </div>
</div>
