<div id="disconnected-lol-component">
	<div class="main-description">
		<div>You don't have a summoner connected to your account.</div>
		<div class="space">Please enter your summoner info in order to start the verification process.</div>
	</div>
	<form class="content" name="summonerForm"
		  ng-submit="ctrl.connectLolAccountApi(summonerForm)"
		  loader="disconnectedSummonerForm"
		  novalidate>
		<div id="summoner-form">
			<div class="error-field">
				{{ctrl.errorMessage}}
			</div>
			<div class="field">
				<md-input-container>
					<label>Summoner Name</label>
					<input type="text"
						   ng-model="ctrl.data.summonerName"
						   ng-required="true"/>
				</md-input-container>
			</div>
			<div class="field">
				<md-input-container>
					<label>Region</label>
					<md-select ng-model="ctrl.data.region" ng-required="true">
						<md-option ng-repeat="region in ctrl.regions"
								   ng-value="region">
							{{region}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
		</div>
		<div class="buttons">
			<button type="submit" class="mb mb-fill-green"
					ng-disabled="summonerForm.$invalid">
				Connect
			</button>
		</div>
	</form>
</div>