@slides-height: 80vh;
#home {
    .slides {
        height: @slides-height;
        .slide-image {
            height: @slides-height;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
                background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
            }
        }
        .carousel-caption {
            top: 0;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .headline {
                font-size: 5em;
                letter-spacing: 3px;
                padding-top: 5vh;
                white-space: nowrap;
                text-shadow: 1px 1px 6px black;
            }
            .description {
                font-size: 2em;
                letter-spacing: 1px;
                padding-top: 5vh;
                text-shadow: 1px 1px 2px black;
            }
            .buttons {
            	display: flex;
            	flex-direction: row;
            	margin-top: 13vh;

                button {
                    &:not(:first-child) {
                        margin-left: 50px;
                    }
                }

            }
        }
    }
}