<div id="cancel-lol-task-wrapper">
	<form class="modal-custom-content" name="ctrl.cancelTaskForm"
		  loader="{{::ctrl.loaderName}}"
		  ng-submit="ctrl.cancelTaskForm.$valid && ctrl.cancelTask()"
		  novalidate>
		<div class="modal-close-glyphicon" ng-click="ctrl.closeModal()">
			<span class="glyphicon glyphicon-remove"></span>
		</div>
		<div class="modal-custom-body">
			<div class="headers">
				<div class="header">
					{{"_GAMES.DASHBOARD.CANCEL-TASK.HEADER-1" | translate}}
				</div>
				<div class="header header-small">
					{{"_GAMES.DASHBOARD.CANCEL-TASK.HEADER-2" | translate}}
				</div>
			</div>
			<div class="inputs">
				<md-input-container>
					<label for="reason-input">
						{{"_GAMES.DASHBOARD.CANCEL-TASK.REASON-LABEL" | translate}}
					</label>
					<textarea id="reason-input"
							  name="reason"
							  cols="30" rows="2"
							  ng-model="ctrl.reason">
					</textarea>
				</md-input-container>
			</div>
			<div class="buttons">
				<button class="mb mb-fill-blue"
						type="button"
						ng-click="ctrl.closeModal()">
					{{"_GAMES.DASHBOARD.CANCEL-TASK.BACK" | translate}}
				</button>
				<button class="mb mb-fill-red"
						type="submit">
					{{"_GAMES.DASHBOARD.CANCEL-TASK.CANCEL" | translate}}
				</button>
			</div>
		</div>
	</form>
</div>
