<div id="lol-account-history">
	<div class="main-description">
		{{"_GAMES.ACCOUNT.HISTORY.HEADER-1" | translate}}
	</div>
	<div class="accounts"
		 loader="{{::ctrl.loaderName}}">
		<div class="account"
			 ng-repeat="account in ctrl.accounts">
			<div class="summoner-name">{{account.details.summonerName}}</div>
			<div class="region">{{account.details.region}}</div>
			<div class="created-date">{{account.createdDate | date}}</div>
		</div>
		<div class="empty-field"
			ng-show="ctrl.accounts.length === 0">
			{{"_GAMES.ACCOUNT.HISTORY.EMPTY-FIELD" | translate}}
		</div>

	</div>
	<div class="error-field">
		{{ctrl.errorMessage}}
	</div>
</div>