<div id="exp-toast">
    <div class="exp-bar">
        <div class="name">
            XP
        </div>
        <div class="bar">
            <div class="currentExp"></div>
            <div class="gainedExp"></div>
            <div class="remainingExp"></div>
        </div>
        <div class="exp">
            5000
        </div>
    </div>
    <div class="pills-container">
    	<div class="exp-pill">
            <div class="gained-exp">
                +200
            </div>
            <div class="name">
                Tutorial completed
            </div>
        </div>
        <div class="exp-pill">
            <div class="gained-exp">
                +200
            </div>
            <div class="name">
                Tutorial completed Tutorial completed Tutorial completed
            </div>
        </div>
    </div>
</div>
