#exp-toast {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    width: 300px;
    .exp-bar {
        display: flex;
        background-color: #3C3C3C;
        padding: 5px 10px;
        width: 100%;
        .bar {
            margin: 5px 10px;
            border: 1px solid black;
            color: black;
            font-weight: 800;
            text-align: center;
            overflow-x: visible;
            font-size: 10px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            & > *:not(: first-child) {
                border-left: 1px solid darkgray;
            }
            .currentExp {
                background-color: #4EB34E;
                width: 60%;
            }
            .gainedExp {
                background-color: #FFB924;
                width: 20%;
            }
            .remainingExp {
                background-color: grey;
                width: 20%;
            }
        }
    }
    .pills-container {
    	padding-top: 1px;
    	display: flex;
    	flex-direction: column;
        width: 100%;
    	.exp-pill {
			background-color: #3C3C3C;
            padding: 0 10px;
            /*line-height: 22px;*/
            display: flex;
            flex-direction: row;
            &:not(:first-child) {
                margin-top: 1px;
            }
            .gained-exp {
                margin-right: 10px;
                color: #FFB924;
            }
            .name {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow-x: hidden;
            }
    	}
    }
}
