<div id="exp-toast">
    <div class="left-column" ng-show="gainedExp">
        <div class="sum-gained-exp">
            +{{gainedExp}}
        </div>
    </div>
    <div class="center-column">
        <div class="exp-bar">
            <div class="name">
                XP
            </div>
            <div class="bar">
                <div class="currentExp"></div>
                <div class="gainedExp"></div>
                <div class="remainingExp"></div>
            </div>
            <div class="exp">
                {{totalNeedExp}}
            </div>
        </div>
        <div class="pills-container">
            <div class="exp-pill" ng-repeat="pill in scope.pills">
                <div class="gained-exp">
                    +{{pill.gainedExp}}
                </div>
                <div class="name">
                    {{pill.name}}
                </div>
            </div>
            <!-- <div class="exp-pill">
                <div class="gained-exp">
                    +200
                </div>
                <div class="name">
                    Tutorial completed Tutorial completed Tutorial completed
                </div>
            </div> -->
        </div>
        <pre>{{data | json}}</pre>
        <pre>{{foo | json}}</pre>
    </div>
</div>
