@exp-bar-width: 300px;
@gained-exp-color: #FFB924;
#exp-toast {
    position: fixed;
    top: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    color: white;
    transition: all 1s;
    z-index: 1000000;
    &.is-visible {
        opacity: 1;
        top: 30px;
    }
    .left-column {
        background-color: #3C3C3C;
        padding: 5px 10px 5px 10px;
        margin-right: 1px;
        position: absolute;
        right: @exp-bar-width;
        .sum-gained-exp {
            color: @gained-exp-color;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            .odometer-inside {
                display: flex;
                flex-direction: row;
            }
            // font-size: 1.3em;
            // font-weight: 500;
        }
    }
    .center-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: @exp-bar-width;
        .exp-bar {
            display: flex;
            background-color: #3C3C3C;
            padding: 5px 10px;
            width: 100%;
            .bar {
                margin: 5px 10px;
                border: 1px solid black;
                color: black;
                font-weight: 800;
                text-align: center;
                overflow-x: visible;
                font-size: 10px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                & > *:not(: first-child) {
                    border-left: 1px solid darkgray;
                }
                .transition {
                    transition: all 1500ms cubic-bezier(0.090, 1.030, 0.270, 0.865);
                }
                .currentExp {
                    background-color: #4EB34E;
                }
                .gainedExp {
                    background-color: #FFB924;
                }
                .remainingExp {
                    background-color: grey;
                }
            }
        }
        .pills-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            line-height: 1.1;
            .exp-pill {
                background-color: #3C3C3C;
                padding: 3px 10px;
                display: flex;
                flex-direction: row;
                margin-top: 1px;
                & > * {
                    padding-top: 1px;
                }
                .gained-exp {
                    margin-right: 10px;
                    color: @gained-exp-color;
                }
                .name {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                    line-height: 1;
                }
                &.ng-enter {
                    transition: bottom 450ms linear, opacity 450ms cubic-bezier(0.610, 0.185, 1.000, 0.335);
                    bottom: -50px;
                    opacity: 0;
                    position: relative;
                }
                &.ng-enter-active {
                    bottom: 0;
                    opacity: 1;
                }
                &.ng-leave {
                    transition: all 200ms linear;
                    height: 22px;
                    opacity: 1;
                }
                &.ng-leave-active {
                    height: 0;
                    opacity: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}
