<div id="exp-toast">
    <div class="left-column" ng-show="gainedExp">
        <div class="sum-gained-exp">
            <div>+</div>
            <div odometer="gainedExp"></div>
        </div>
    </div>
    <div class="center-column">
        <div class="exp-bar">
            <div class="name">
                XP
            </div>
            <div class="bar">
                <div class="currentExp"></div>
                <div class="gainedExp"></div>
                <div class="remainingExp"></div>
            </div>
            <div class="exp">
                {{totalNeedExp}}
            </div>
        </div>
        <div class="pills-container">
            <div class="exp-pill animate" ng-repeat="pill in pills">
                <div class="gained-exp">
                    +{{pill.exp}}
                </div>
                <div class="name">
                    {{pill.name}}
                </div>
            </div>
        </div>
    </div>
</div>
