<!DOCTYPE html>
<html ng-app="TrytonApp" ng-controller="indexController">

<head>
    <title>Tryton</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <!--ANGULAR LIB-->
    <script src="lib/js/js.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="lib/css/css.min.css">
    <script>
    angular.module("TrytonApp", ["TrytonApp.Configs", "TrytonApp.Api", "TrytonApp.Translate", "TrytonApp.Loader","TrytonApp.Logger", "ui.bootstrap", "TrytonApp.Authentication", "ngMaterial", "TrytonApp.Modal", "TrytonApp.Router", "TrytonApp.Session", "TrytonApp.Toasts", "ngAnimate", "TrytonApp.Directives"]);
    </script>
    <script src="js/app.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="css/app.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--JS-->
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
</head>

<body>
    <base href="/">
    <!-- <my-nav-bar></my-nav-bar> -->
    <section ui-view></section>
    <div loader="uno">
        Hello from new york
        <div loader="deus" style="margin-left: 15px;">
            Yo whats up
            <div loader-click="uno" ng-click="timeout()">
                Click me
            </div>
        </div>
    </div>
    <!-- <section>
        <section ui-view="nav-bar"></section>
    </section> -->
    <!-- <button class="btn btn-primary" ng-click="click()">Click</button> -->
</body>

</html>
