<style>
    #user-nav-bar {
        background-color: #141414;
        width: 100%;
        padding: 3px 10px;
        color: #BFBFBF;
        border-bottom: 1px solid gray;
        font-weight: bold;
        font-size: 13px;
        height: 26px;
        line-height: 20px;
    }
    #user-nav-bar-right > div{
        margin: 0 5px;
        padding: 0px 10px;
        color: inherit;
        display: inline-block;
    }
    #user-nav-bar a {
        color: inherit;
        text-decoration: none;
    }
    #user-nav-bar-right > div:hover {
        text-decoration: none;
        border-bottom: 1px solid #BFBFBF;
        color: #f8f8f9;
        cursor: pointer;
    }
    @media screen and (max-width: 500px) {
        #user-nav-bar a {
            display: none;
        }
        #user-nav-bar .glyphicon {
            margin: 0 5px;
        }
    }
    #user-nav-bar-left {
        float: left;
    }
    #user-nav-bar-right {
        float: right;
    }
    #user-nav-bar-languages {
        color: #141414;
    }
    #user-nav-bar-languages-panel {
        padding: 0 10px;
    }
    #user-nav-bar .glyphicon {
        margin-right: 10px;
    }
</style>

<div id="user-nav-bar">
    <div id="user-nav-bar-left">
        <div id="user-nav-bar-languages-panel">
            <div class="glyphicon glyphicon-globe"></div>
            <select id="user-nav-bar-languages" ng-model="selectedLanguage"
                    ng-options="language.shortName as language.name for language in LanguageList.getAll()| filter:{isAvailable: true} | orderBy:'name'">
            </select>
        </div>
    </div>
    <div id="user-nav-bar-right">
        <div>
            <span class="glyphicon glyphicon-log-in"></span>
            <a>{{ "USER-NAV-BAR.LOGIN" | translate}}</a>
        </div>
        <div>
            <span class="glyphicon glyphicon-lock"></span>
            <a>{{ "USER-NAV-BAR.REGISTER" | translate}}</a>
        </div>
    </div>
</div>
