<div id="connected-lol-component" loader="{{::ctrl.loaderName}}">
	<div class="main-description">
		<div>{{"_GAMES.DOTA2.ACCOUNT.CONNECTED.HEADER-1" | translate}}</div>
	</div>
	<div class="summoner-info">
		<div class="info-line">
			<div class="info-key">
				{{"_GAMES.DOTA2.ACCOUNT.CONNECTED.USERNAME" | translate}}
			</div>
			<div class="info-value">
				{{ctrl.getDota2Account().details.username}}
			</div>
		</div>
		<div class="info-line">
			<div class="info-key">
				{{"_GAMES.DOTA2.ACCOUNT.CONNECTED.CONNECT-DATE" | translate}}
			</div>
			<div class="info-value">
				{{ctrl.getDota2Account().createdDate | date}}
			</div>
		</div>
		<div class="info-line">
			<div class="info-key">
				{{"_GAMES.DOTA2.ACCOUNT.CONNECTED.STATUS.LABEL" | translate}}
			</div>
			<div class="info-value">
				<div class="status verified" ng-show="ctrl.getDota2Account().verified">
					<div class="status-icon">
						<i class="material-icons">check</i>
					</div>
					<div class="status-text">
						{{"_GAMES.DOTA2.ACCOUNT.CONNECTED.STATUS.VERIFIED" | translate}}
					</div>
				</div>
				<div class="status not-verified" ng-show="!ctrl.getDota2Account().verified">
					<div class="status-icon">
						<i class="material-icons">cancel</i>
					</div>
					<div class="status-text">
						{{"_GAMES.DOTA2.ACCOUNT.CONNECTED.STATUS.NOT-VERIFIED" | translate}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="error-field">
		{{ctrl.errorMessage}}
	</div>
	<div class="buttons">
		<button class="mb mb-fill-red" ng-click="ctrl.disconnectDota2AccountApi()"
				confirm confirm-title="{{'_GAMES.DOTA2.ACCOUNT.CONNECTED.DISCONNECT-CONFIRM.TITLE' | translate}}"
				confirm-desc="{{'_GAMES.DOTA2.ACCOUNT.CONNECTED.DISCONNECT-CONFIRM.DESC' | translate}}">
			{{"_GAMES.DOTA2.ACCOUNT.CONNECTED.DISCONNECT" | translate}}
		</button>
	</div>

	<div class="allow-public" style="margin-top: 20px">
		{{"_GAMES.DOTA2.ACCOUNT.CONNECTED.ALLOW-PUBLIC" | translate}}
	</div>

</div>