<div id="my-nav-bar">
	<div class="my-nav-bar-column">
		<div class="my-nav-bar-column-item" ui-sref="app.home">
			<div class="my-nav-bar-pill">
				<div class="my-nav-bar-column-item-name">
					{{"APP-NAME" | translate}}
				</div>
			</div>
		</div>
		<div class="my-nav-bar-column-item">
			<div class="my-nav-bar-pill">
				<div class="my-nav-bar-column-item-icon">
					<i class="material-icons">flag</i>
				</div>
				<div class="my-nav-bar-column-item-name">
					{{"USER-NAV-BAR.MANAGE" | translate}}
				</div>
				<div class="dropdown-icon">
					<i class="material-icons">arrow_drop_down</i>
				</div>
			</div>
			<div class="my-nav-bar-column-item-content">
				<div class="items">
					<div class="item"
						 ui-sref="app._games.dashboard"
						 fold-on-click>
						<div class="icon">
							<i class="material-icons">dashboard</i>
						</div>
						<div class="name">
							{{"USER-NAV-BAR.MANAGE-PILLS.DASHBOARD" | translate}}
						</div>
					</div>
					<!--<div class="item"-->
						 <!--ui-sref="app._games.profile"-->
						 <!--fold-on-click>-->
						<!--<div class="icon">-->
							<!--<i class="material-icons">face</i>-->
						<!--</div>-->
						<!--<div class="name">-->
							<!--{{"USER-NAV-BAR.MANAGE-PILLS.PROFILE" | translate}}-->
						<!--</div>-->
					<!--</div>-->
					<div class="item"
						 ui-sref="app._games.account"
						 fold-on-click>
						<div class="icon">
							<i class="material-icons">account_circle</i>
						</div>
						<div class="name">
							{{"USER-NAV-BAR.MANAGE-PILLS.ACCOUNT" | translate}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="my-nav-bar-column-item">
			<div class="my-nav-bar-pill">
				<div class="my-nav-bar-column-item-icon">
					<div class="glyphicon glyphicon-book"></div>
				</div>
				<div class="my-nav-bar-column-item-name">
					{{"USER-NAV-BAR.FAQ" | translate}}
				</div>
			</div>
		</div>
	</div>
	<div class="my-nav-bar-column">
		<div class="my-nav-bar-column-item short">
			<div class="my-nav-bar-pill">
				<div class="my-nav-bar-column-item-icon">
					<div class="flag-icon" bcg-image="selectedGameItem.iconUrl"></div>
				</div>
				<div class="my-nav-bar-column-item-name">
					{{selectedGameItem.shortName}}
				</div>
				<div class="dropdown-icon">
					<i class="material-icons">arrow_drop_down</i>
				</div>
			</div>
			<div class="my-nav-bar-column-item-content">
				<div class="items">
					<div class="item" ng-repeat="game in availableGames | filter:{isAvailable: true} |orderBy:'name'"
						 ng-class="isSelectedGame(game.simpleShortName)" ng-click="selectGame(game.simpleShortName)"
						 fold-on-click>
						<div class="icon">
							<div class="flag-icon" bcg-image="::game.iconUrl"></div>
						</div>
						<div class="name">
							{{::game.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="my-nav-bar-column-item short">
			<div class="my-nav-bar-pill">
				<div class="my-nav-bar-column-item-icon">
					<div class="flag-icon flag-icon-{{selectedLanguageItem.iconUrl}}"></div>
				</div>
				<div class="my-nav-bar-column-item-name">
					{{selectedLanguageItem.shortName | uppercase}}
				</div>
				<div class="dropdown-icon">
					<i class="material-icons">arrow_drop_down</i>
				</div>
			</div>
			<div class="my-nav-bar-column-item-content">
				<div class="items">
					<div class="item"
						 ng-repeat="lang in availableLanguages | filter:{isAvailable: true} |orderBy:'name'"
						 ng-class="isSelectedLang(lang.shortName)" ng-click="selectLang(lang.shortName)" fold-on-click>
						<div class="icon">
							<div class="flag-icon flag-icon-{{::lang.iconUrl}}"></div>
						</div>
						<div class="name">
							{{::lang.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="my-nav-bar-column" ng-hide="Session.isLoggedIn()">
			<div class="my-nav-bar-column-item" ng-click="openLoginModal()">
				<div class="my-nav-bar-pill">
					<div class="my-nav-bar-column-item-icon">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="my-nav-bar-column-item-name">
						{{"USER-NAV-BAR.LOGIN" | translate}}
					</div>
				</div>
			</div>
			<div class="my-nav-bar-column-item" ng-click="openRegisterModal()">
				<div class="my-nav-bar-pill">
					<div class="my-nav-bar-column-item-icon">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="my-nav-bar-column-item-name">
						{{"USER-NAV-BAR.REGISTER" | translate}}
					</div>
				</div>
			</div>
		</div>
		<div class="my-nav-bar-column" ng-show="Session.isLoggedIn()">
			<div class="my-nav-bar-column-item">
				<div class="my-nav-bar-pill">
					<div class="my-nav-bar-column-item-icon">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="my-nav-bar-column-item-name">
						{{Session.getUsername()}}
					</div>
					<div class="dropdown-icon">
						<i class="material-icons">arrow_drop_down</i>
					</div>
				</div>
				<div class="my-nav-bar-column-item-content">
					<div class="items">
						<div class="item"
							 ui-sref="app.account.password"
							 fold-on-click>
							<div class="icon">
								<i class="material-icons">security</i>
							</div>
							<div class="name">
								{{"USER-NAV-BAR.ACCOUNT-PILLS.SETTINGS" | translate}}
							</div>
						</div>
						<div class="item"
							 ng-click="logout()"
							 fold-on-click>
							<div class="icon">
								<span class="glyphicon glyphicon-off"></span>
							</div>
							<div class="name">
								{{"USER-NAV-BAR.LOGOUT" | translate}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
